@charset "UTF-8";

@import './components/setting.css';
@import './components/subwayRailsMapper.css';
@import './components/subwayStationMapper.css';

#applicationComponents form:not(:last-child) {
	margin-bottom: 3em;
}
