@charset "UTF-8";

[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_HEADERS']
{
	font-size:           0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: var(--codekandis-color-gray);
}

[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_HEADERS'] [data-control-type='TAB_CONTROL_PAGE_HEADER']
{
	display:          inline-block;
	padding:          10px 20px;
	font-size:        calc(var(--base-font-size) + 1.2pt);
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: transparent;
	cursor:           pointer;
}

[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_HEADERS'] [data-control-type='TAB_CONTROL_PAGE_HEADER']:hover,
[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_HEADERS'] [data-control-type='TAB_CONTROL_PAGE_HEADER'][data-is-activated='TRUE']
{
	border-top-color: var(--codekandis-color-orange);
}

[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_HEADERS'] [data-control-type='TAB_CONTROL_PAGE_HEADER'][data-is-activated='TRUE']
{
	font-weight: bold;
}

[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_PAGES'] [data-control-type='TAB_CONTROL_PAGE'] [data-control-type='TAB_CONTROL_PAGE_ACTIVATOR']
{
	display: none;
}

[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_PAGES'] [data-control-type='TAB_CONTROL_PAGE'] [data-control-type='TAB_CONTROL_PAGE_CONTENT']
{
	position: relative;
	display:  none;
}

[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_PAGES'] [data-control-type='TAB_CONTROL_PAGE'] [data-control-type='TAB_CONTROL_PAGE_ACTIVATOR'] + [data-control-type='TAB_CONTROL_PAGE_CONTENT']
{
	display: none;
}

[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_PAGES'] [data-control-type='TAB_CONTROL_PAGE'] [data-control-type='TAB_CONTROL_PAGE_ACTIVATOR']:checked + [data-control-type='TAB_CONTROL_PAGE_CONTENT']
{
	display: block;
}

[data-control-type='TAB_CONTROL'] [data-control-type='TAB_CONTROL_PAGES'] [data-control-type='TAB_CONTROL_PAGE'] [data-control-type='TAB_CONTROL_PAGE_CONTENT']
{
	padding: 20px;
}
