@charset "UTF-8";

#subwayRailsMapper fieldset
{
	margin-top:    1em;
	margin-bottom: 1em;
}

#subwayRailsMapper fieldset label
{
	display: inline-block;
}

#subwayRailsMapper fieldset input,
#subwayRailsMapper fieldset select
{
	width:  150px;
	height: 27px;
}

#subwayRailsMapper-initialValues fieldset label,
#subwayRailsMapper-currentValues fieldset label,
#subwayRailsMapper-calculatedValues fieldset label
{
	width: 30px;
}

#subwayRailsMapper-currentValues fieldset input[data-value-is-valid='TRUE']
{
	box-shadow:   0 0 3px var(--codekandis-color-green);
	border-color: var(--codekandis-color-green);
}

#subwayRailsMapper-calculatedValues fieldset label[for='subwayRailsMapper-calculatedPositionXNegative']
{
	margin-left: 100px
}

#subwayRailsMapper-calculatedValues fieldset label[for='subwayRailsMapper-calculatedPositionZNegative'],
#subwayRailsMapper-calculatedValues fieldset label[for='subwayRailsMapper-calculatedPositionZPositive']
{
	margin-left: 200px;
}

#subwayRailsMapper-calculatedPositionXNegative,
#subwayRailsMapper-calculatedPositionYPositive
{
	margin-right: 20px;
}
